<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
  <hr>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>

<form class="d-flex">
  <input style="width:400px;margin-left:500px;" #search class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
  <button id="k" class="btn btn-outline-success" type="submit" value="search.value" >Search</button>
</form>
<br>
<div class="container"  >
  <div class="row">
    <div class="col col-3 col-sm-6 col-md-3" >
      <div class="card" style="width: 18rem;">
        <img class="card_img" style="height: 260px; width: 300px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/2208/gallery/in-galaxy-z-fold4-f936-sm-f936bzahinu-533084043?$1300_1038_PNG$" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">SAMSUNG F23</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <button type="button" class="btn btn-info">
            Add to cart <span class="bg-success"></span>
          </button>
          <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Buy now
          </button>
        </div>
      </div>
    </div>
    <div class="col col-3 col-sm-6 col-md-3" >
      <div class="card" style="width: 18rem;">
        <img class="card_img" style="height: 260px; width: 300px; padding: 30px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/sm-m136bdbdins/gallery/in-galaxy-m13-5g-4gb-sm-m136bdbdins-thumb-533154482?$160_160_PNG$" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <button type="button" class="btn btn-info">
            Add to cart <span class="bg-success"></span>
          </button>
          <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Buy now
          </button>
        </div>
      </div>
    </div>
    <div class="col col-3 col-sm-6 col-md-3" >
      <div class="card" style="width: 18rem;">
        <img class="card_img" style="height: 260px; width: 300px;padding: 30px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/2202/gallery/in-galaxy-s22-ultra-s908-413016-sm-s908ezkginu-thumb-530969186?$216_216_PNG$" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">SAMSUNG Galaxy S22 Ultra</h5>
          <p class="card-text">12 GB RAM | 256 GB ROM
            17.27 cm (6.8 inch) Quad HD+ Display
            108MP + 12MP + 10MP + 10MP 
           </p>
          <button type="button" class="btn btn-info">
            Add to cart <span class="bg-success"></span>
          </button>
          <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Buy now
          </button>
        </div>
      </div>
    </div>
    <div class="col col-3 col-sm-6 col-md-3" >
      <div class="card" style="width: 18rem;">
        <img class="card_img" style="height: 260px; width: 280px;padding: 50px;" src="https://rukminim1.flixcart.com/image/312/312/kzrbiq80/mobile/h/x/n/galaxy-s21-fe-5g-sm-g990ezaiinu-samsung-original-imagbpfzbrnueypq.jpeg?q=70" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">SAMSUNG Galaxy S21 FE</h5>
          <p class="card-text">8 GB RAM | 128 GB ROM
            16.26 cm (6.4 inch) Full HD+ Display
            12MP + 12MP + 8MP (OIS) </p>
          <button type="button" class="btn btn-info">
            Add to cart <span class="bg-success"></span>
          </button>
          <!-- Button trigger modal -->
          <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Buy now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col col-3 col-sm-6 col-md-3" id="mobile">
      <div class="card" style="width: 18rem;">
        <img class="card_img" style="height: 260px; width: 300px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/sm-e135fiddins/gallery/in-galaxy%C2%A0f13-4gb-sm-e135fiddins-532880446?$1300_1038_PNG$" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <button type="button" class="btn btn-info">
            Add to cart <span class="bg-success"></span>
          </button>
          <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Buy now
          </button>
        </div>
      </div>
    </div>
    <div class="col col-3 col-sm-6 col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card_img" style="height: 260px; width: 300px;" src="https://images.samsung.com/is/image/samsung/in-top-loading-wa70t4262gstl-wa70t4262gs-tl--332461415?$2052_1641_PNG$" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <button type="button" class="btn btn-info">
            Add to cart <span class="bg-success"></span>
          </button>
          <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Buy now
          </button>
        </div>
      </div>
    </div>
    <div class="col col-3 col-sm-6 col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card_img" style="height: 260px; width: 300px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/ms23j5133ag-tl/gallery/in-23-litre-solo-microwave-oven-ms23j5133ag-ms23j5133ag-tl-444429754?$684_547_PNG$" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">watch</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <button type="button" class="btn btn-info">
            Add to cart <span class="bg-success"></span>
          </button>
          <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Buy now
          </button>
        </div>
      </div>
    </div>
    <div class="col col-3 col-sm-6 col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card_img" style="height: 260px; width: 300px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/rt34b4542s8-hl/gallery/in-ref-tmf-rt4000-424849-rt34b4542s8-hl-532548251?$1300_1038_PNG$" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <button type="button" class="btn btn-info">
            Add to cart <span class="bg-success"></span>
          </button>
          <!-- Button trigger modal -->
          <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Buy now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col col-3 col-sm-6 col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card_img" style="height: 260px; width: 300px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/2208/gallery/in-galaxy-z-fold4-f936-sm-f936bzahinu-533084043?$1300_1038_PNG$" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <button type="button" class="btn btn-info">
            Add to cart <span class="bg-success"></span>
          </button>
          <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Buy now
          </button>
        </div>
      </div>
    </div>
    <div class="col col-3 col-sm-6 col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card_img" style="height: 260px; width: 300px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/2208/gallery/in-galaxy-z-flip4-f721-sm-f721blvainu-533048782?$1300_1038_PNG$" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <button type="button" class="btn btn-info">
            Add to cart <span class="bg-success"></span>
          </button>
          <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Buy now
          </button>
        </div>
      </div>
    </div>
    <div class="col col-3 col-sm-6 col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card_img" style="height: 260px; width: 300px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/2208/gallery/in-galaxy-watch5-40mm-sm-r900nzaainu-533186450?$2052_1641_PNG$" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <button type="button" class="btn btn-info">
            Add to cart <span class="bg-success"></span>
          </button>
          <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Buy now
          </button>
        </div>
      </div>
    </div>
    <div class="col col-3 col-sm-6 col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card_img" style="height: 260px; width: 300px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/2208/gallery/in-galaxy-buds2-pro-r510-sm-r510nlvainu-533192230?$1300_1038_PNG$" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <button type="button" class="btn btn-info">
            Add to cart <span class="bg-success"></span>
          </button>
          <!-- Button trigger modal -->
          <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Buy now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col col-3 col-sm-6 col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card_img" style="height: 260px; width: 300px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/sm-e135fiddins/gallery/in-galaxy%C2%A0f13-4gb-sm-e135fiddins-532880446?$1300_1038_PNG$" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <button type="button" class="btn btn-info">
            Add to cart <span class="bg-success"></span>
          </button>
          <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Buy now
          </button>
        </div>
      </div>
    </div>
    <div class="col col-3 col-sm-6 col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card_img" style="height: 260px; width: 300px;" src="https://images.samsung.com/is/image/samsung/in-top-loading-wa70t4262gstl-wa70t4262gs-tl--332461415?$2052_1641_PNG$" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <button type="button" class="btn btn-info">
            Add to cart <span class="bg-success"></span>
          </button>
          <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Buy now
          </button>
        </div>
      </div>
    </div>
    <div class="col col-3 col-sm-6 col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card_img" style="height: 260px; width: 300px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/ms23j5133ag-tl/gallery/in-23-litre-solo-microwave-oven-ms23j5133ag-ms23j5133ag-tl-444429754?$684_547_PNG$" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <button type="button" class="btn btn-info">
            Add to cart <span class="bg-success"></span>
          </button>
          <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Buy now
          </button>
        </div>
      </div>
    </div>
    <div class="col col-3 col-sm-6 col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card_img" style="height: 260px; width: 300px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/rt34b4542s8-hl/gallery/in-ref-tmf-rt4000-424849-rt34b4542s8-hl-532548251?$1300_1038_PNG$" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <button type="button" class="btn btn-info">
            Add to cart <span class="bg-success"></span>
          </button>
          <!-- Button trigger modal -->
          <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Buy now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col col-3 col-sm-6 col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card_img" style="height: 260px; width: 300px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/2208/gallery/in-galaxy-z-fold4-f936-sm-f936bzahinu-533084043?$1300_1038_PNG$" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <button type="button" class="btn btn-info">
            Add to cart <span class="bg-success"></span>
          </button>
          <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Buy now
          </button>
        </div>
      </div>
    </div>
    <div class="col col-3 col-sm-6 col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card_img" style="height: 260px; width: 300px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/2208/gallery/in-galaxy-z-flip4-f721-sm-f721blvainu-533048782?$1300_1038_PNG$" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <button type="button" class="btn btn-info">
            Add to cart <span class="bg-success"></span>
          </button>
          <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Buy now
          </button>
        </div>
      </div>
    </div>
    <div class="col col-3 col-sm-6 col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card_img" style="height: 260px; width: 300px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/2208/gallery/in-galaxy-watch5-40mm-sm-r900nzaainu-533186450?$2052_1641_PNG$" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <button type="button" class="btn btn-info">
            Add to cart <span class="bg-success"></span>
          </button>
          <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Buy now
          </button>
        </div>
      </div>
    </div>
    <div class="col col-3 col-sm-6 col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card_img" style="height: 260px; width: 300px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/2208/gallery/in-galaxy-buds2-pro-r510-sm-r510nlvainu-533192230?$1300_1038_PNG$" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <button type="button" class="btn btn-info">
            Add to cart <span class="bg-success"></span>
          </button>
          <!-- Button trigger modal -->
          <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Buy now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col col-3 col-sm-6 col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card_img" style="height: 260px; width: 300px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/sm-e135fiddins/gallery/in-galaxy%C2%A0f13-4gb-sm-e135fiddins-532880446?$1300_1038_PNG$" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <button type="button" class="btn btn-info">
            Add to cart <span class="bg-success"></span>
          </button>
          <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Buy now
          </button>
        </div>
      </div>
    </div>
    <div class="col col-3 col-sm-6 col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card_img" style="height: 260px; width: 300px;" src="https://images.samsung.com/is/image/samsung/in-top-loading-wa70t4262gstl-wa70t4262gs-tl--332461415?$2052_1641_PNG$" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <button type="button" class="btn btn-info">
            Add to cart <span class="bg-success"></span>
          </button>
          <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Buy now
          </button>
        </div>
      </div>
    </div>
    <div class="col col-3 col-sm-6 col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card_img" style="height: 260px; width: 300px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/ms23j5133ag-tl/gallery/in-23-litre-solo-microwave-oven-ms23j5133ag-ms23j5133ag-tl-444429754?$684_547_PNG$" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <button type="button" class="btn btn-info">
            Add to cart <span class="bg-success"></span>
          </button>
          <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Buy now
          </button>
        </div>
      </div>
    </div>
    <div class="col col-3 col-sm-6 col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card_img" style="height: 260px; width: 300px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/rt34b4542s8-hl/gallery/in-ref-tmf-rt4000-424849-rt34b4542s8-hl-532548251?$1300_1038_PNG$" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <button type="button" class="btn btn-info">
            Add to cart <span class="bg-success"></span>
          </button>
          <!-- Button trigger modal -->
          <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Buy now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
