<nav class="navbar navbar-expand-lg navbar-light bg-blur" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: #070707; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">{{title}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="mobiles">Mobiles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" routerLink="tv" >Telivision</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="watch">Watch</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="bar" >Soundbars</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="frdg" >Refrigerator</a>
          </li>
          <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
              Washers and Dryers
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
              <li><a class="dropdown-item" routerLink="wama">Washing Machines</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" >Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" #productname type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit" (click)="search_product(productname.value); productname.value=''" >Search</button>

        </form>
        
        <app-search [product]="productentered"></app-search>
        <!-- <p id="ptag">{{name}}</p> -->
      </div>
    </div>
  </nav>
  
