
<div class="container" *ngFor="let m of micro">
    <div class="row">
      <div class="col col-3 col-sm-6 col-md-3" id="mobile">
        <div class="flip-card" style="float: left ;">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="https://media3.giphy.com/media/pyYCjZhZjs9I6lSZst/giphy.gif?cid=6c09b952x4dfl7akrgikzoo4fociez0u7k2z5gr05d4251uw&rid=giphy.gif&ct=s" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
              
              <h1>New Galaxy Watch5</h1> 
              <p>Smartwatch for everyday wellness goals</p> 
              <p>SAMSUNG</p>
            
            </div>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>