<br><br><br>
<h4 style="margin-left: 125px;"><i class="fa fa-filter"></i>  Filters</h4>
<br>
<p>
    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
     <b>Availabilty</b> 
    </button>
  </p>
  <div class="collapse" id="collapseExample1">
    <div class="list-group">
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">Available to order</a> 
      </div>
  </div>
  <p>


<p>
   
    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
     <b>Price</b> 
    </button>
  </p>
  <div class="collapse" id="collapseExample2">
    <div class="list-group">
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">Up to ₹10000</a>
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">₹10000~₹20000</a>
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">₹20000~₹30000</a>
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">₹30000~₹40000</a>
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">₹40000~₹50000</a>
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">Above ₹50000</a>
      </div>
  </div>
  <p>
   
    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
        <b>Product Type</b>
    </button>
  </p>
  <div class="collapse" id="collapseExample3">
    <div class="list-group">
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">Front Loading</a>
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">Top Loading</a>
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">Semi Automatic</a>
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">Dryers</a>
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">Washer & Dryer Combo</a>
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">Air Dresser</a>
     
      </div>
  </div>
  <p>
   
    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
      <b>Ideal for Family size</b>  
    </button>
  </p>
  <div class="collapse" id="collapseExample4">
    <div class="list-group">
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">Large Families</a>
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">Family of 4</a>
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">Family of 3</a>
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">Single-couplem</a>

      </div>
  </div>

  <p>
   
    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
        <b>Capacity</b>
    </button>
  </p>
  <div class="collapse" id="collapseExample5">
    <div class="list-group">
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">Up to 6.5Kg</a>
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">7~7.5kg</a>
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">8~8.5kg</a>
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">9~10.5kg</a>
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">11Kg & Above</a>


      </div>
  </div>


  <p>
   
    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample">
       <b>Features</b> 
    </button>
  </p>
  <div class="collapse" id="collapseExample6">
    <div class="list-group">
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">AI (EcoBubble/Diamond Drum)</a>
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">AddWash</a>
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">Hygiene Steam</a>
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">Wi-Fi (Smart Things)</a>
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">ActivWash+</a>
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">Digital Inverter Technology</a>
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">Hexa Storm Pulsator</a>
     
      </div>
  </div>



  <p>
   
    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample7" aria-expanded="false" aria-controls="collapseExample">
       <b>Color</b> 
    </button>
  </p>
  <div class="collapse" id="collapseExample7">
    <div class="list-group">
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">Black Caviar</a>
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">Inox / Silver</a>
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">Plum</a>
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">White</a>
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">Grey</a>
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">Wine</a>
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">Blue</a>
        <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">Purple</a>
     
      </div>
  </div>


      
          <p>
   
            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample8" aria-expanded="false" aria-controls="collapseExample">
              <b>Offers</b>  
            </button>
          </p>
          <div class="collapse" id="collapseExample8">
            <div class="list-group">
                <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">Everyday, Laundry Day</a>
                <a routerLink="wama" class="list-group-item list-group-item-action list-group-item-light">Cash on delivery available</a>
               
             
              </div>
          </div>