
<div class="carousel-item active">
  <img src="https://images.samsung.com/is/image/samsung/assets/in/support/home/kv/Home_KV_1440x500.jpg?$1440_500_JPG$" class="d-block w-100" alt="...">
  <div class="carousel-caption d-none d-md-block">
    <h5 style="margin-left:100px ;margin-top: -280px; color:white; font-size: 30px;"><b>We`re here for you</b></h5>
    <h5 style="margin-left:100px ;margin-top: 0px; color:white; font-size: 60px;"><b>Welcome to Samsung Support</b></h5>
    
  </div>
</div>
<h1 style="margin-top:550px;margin-left: 570px; font-size: 50px;"><b>User Guide for</b></h1> 

<div class="hover01 column" style="margin-top: 100px;">
  <div >
    <figure routerLink="mobiles" style="float:left ;"><img  style="height: 500px;width:300px;margin-left: 200px;" src="https://i.pinimg.com/originals/c7/cc/91/c7cc9175b7622e19cd0d26a03bb5e173.jpg" /></figure>
    
  </div>
  <div>
    <figure routerLink="frdg" style="float:left ;"><img  style="height: 500px;width:300px;margin-left: 90px;" src="https://m.eyeofdubai.ae/news_images/2019/03/35b0e141b2a0.png" /></figure>
   
  </div>
  <div>
    <figure routerLink="wama"><img style="height: 500px;width:300px;margin-left: 90px;" src="https://cf.shopee.co.id/file/5d2aae67965dc696ae6c036f41a4c808" /></figure>
    
  </div>
</div> 
<h1 style="margin-top:100px;margin-left: 570px; font-size: 50px;"><b>Product Support</b></h1> 
 <p style="margin-top:0px;margin-left: 500px; font-size: 20px;">Get help, find answers, download drivers, manuals and more.</p>

  <!-- <div class="container1">
    <img src="https://pbs.twimg.com/media/EbWQwUKX0AQ-Ap6.jpg" alt="Avatar" class="image" style="width:100%;">
    <div class="middle">
      <div class="text">John Doe</div>
    </div>
  </div> -->

  <br>
<!-- <div style="margin-left: 400px;">
  <h1>Presenting the all new Fruit Dry feature</h1>
  <p style="margin-left: 150px;">A quick and easy way to dry fresh fruits in your own kitchen.</p>
</div> -->

<div class="container"  style="margin-top:50px ;" >
  <div class="row">
    <div class="col col-3 col-sm-6 col-md-6">
      <div class="card" style="width: 38rem;">
        
        <!-- <img class="card_img" style="height: 260px; width: 290px;padding: 40px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/ua43aue65akxxl/gallery/in-uhd-au7002-425303-ua43aue65akxxl-thumb-532615672?$160_160_PNG$" class="card-img-top" alt="..."> -->
        <div class="card-body">
          <button  class="btn btn-danger" style="border-radius: 20px;width: 200px;height: 35px;font-size: 15px;">Support Alert</button>
<hr>
          <h3 class="card-title"><b>End of e-mail service for Samsung Smart Camera</b></h3>
          <p class="card-text">In response to requests from our customers, we have continued to provide the email transmission service years after the discontinuation of our digital camera business.</p>
         
          
          <button style="margin-left:10px; background-color: black ;color: white" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Other News Alert
          </button>
        </div>
      </div>
    </div>
    <div class="col col-3 col-sm-6 col-md-6">
      <div class="card" style="width: 38rem;">
        <!-- <img class="card_img" style="height: 260px; width: 290px;padding: 40px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/qa55q70baklxl/gallery/in-qled-q70b-qa55q70baklxl-thumb-531464257?$160_160_PNG$" class="card-img-top" alt="..."> -->
        <div class="card-body">
          <button  class="btn btn-primary" style="border-radius: 20px;width: 200px;height: 35px;font-size: 15px;">Support News</button>
<hr>
          <h3 class="card-title"><b>One UI 4 upgrade with Android 12 - Schedule</b></h3>
          <p class="card-text">Dear Samsung customer,

            Thank you for taking an interest in our products and services.
            
            We would like to inform you about the One UI 4 upgrade with Android 12 update for our Galaxy customers.</p>
         
          
            <button style="margin-left:10px; background-color: black ;color: white" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Learn More
            </button>
            
        </div>
      </div>
    </div>
 

  </div>
  </div>



  <h1 style="margin-top:100px;margin-left: 470px; font-size: 50px;"><b>Find additional information</b></h1> 
 
  <div class="container" *ngFor="let c of con"  style="margin-top:50px ;margin-left: 120px;" >
    <div class="row" style="float: left;padding: 10px;">
      
 
      <div class="col col-3 col-sm-6 col-md-4">
        <div class="card" style="width: 25rem;height: 20rem;">
          <!-- <img class="card_img" style="height: 260px; width: 290px;padding: 40px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/qa55q70baklxl/gallery/in-qled-q70b-qa55q70baklxl-thumb-531464257?$160_160_PNG$" class="card-img-top" alt="..."> -->
          <div class="card-body">
            <button style="margin-left:10px; background-color: black ;color: white" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Learn More
            </button>  <hr>
            <h3 class="card-title"><i [class]="c.icon"></i><b>  {{c.pname}}</b></h3>
            <p class="card-text">{{c.pdesc}}</p>
            
            
              
              
          </div>
        </div>
      </div>
   
    </div>
    </div>


    <h1 style="margin-top:150px;margin-left:600px; font-size: 50px;"><b>Contact Info</b></h1> 
 
  <div class="container" *ngFor="let c of cd"  style="margin-top:50px ;margin-left: 120px;" >
    <div class="row" style="float: left;padding: 10px;">
      
 
      <div class="col col-3 col-sm-6 col-md-4">
        <div class="card" style="width: 25rem;height: 20rem;">
          <!-- <img class="card_img" style="height: 260px; width: 290px;padding: 40px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/qa55q70baklxl/gallery/in-qled-q70b-qa55q70baklxl-thumb-531464257?$160_160_PNG$" class="card-img-top" alt="..."> -->
          <div class="card-body">
            <button style="margin-left:10px; background-color: black ;color: white" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              {{c.btn}}
            </button>  <hr>
            <h3 class="card-title"><i [class]="c.i"></i><b>  {{c.cname}}</b></h3>
            <p class="card-text">{{c.cd}}</p>
            
            
              
              
          </div>
        </div>
      </div>
   
    </div>
    </div>
    

    <div class="container my-5">

      <!-- Footer -->
      <footer
              class="text-center text-lg-start text-white"
              style="background-color: #1c2331; margin-top: 1100px;"
              >
        <!-- Section: Social media -->
        <section
                 class="d-flex justify-content-between p-4"
                 style="background-color: #6351ce"
                 >
          <!-- Left -->
          <div class="me-5">
            <span>Get connected with us on social networks:</span>
          </div>
          <!-- Left -->
    
          <!-- Right -->
          <div>
            <a href="" class="text-white me-4">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fab fa-google"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fab fa-github"></i>
            </a>
          </div>
          <!-- Right -->
        </section>
        <!-- Section: Social media -->
    
        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold">SAMSUNG</h6>
                <hr
                    class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; background-color: #7c4dff; height: 2px"
                    />
                <p>
                  The SAMSUNG® brand resonates with consumers around the world as global sales increase to highest point in over 75-year history with 1.41 million units sold worldwide for 2016. Strategic launches of the all-new Grand Cherokee, Renegade and Compass vehicles.
                  .
                </p>
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold">Products</h6>
                <hr
                    class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; background-color: #7c4dff; height: 2px"
                    />
                <p>
                  <a href="#!" class="text-white">Corporate Enquires</a>
                </p>
                <p>
                  <a href="#!" class="text-white">Sign Up for Updates</a>
                </p>
                <p>
                  <a href="#!" class="text-white">BrandFlow</a>
                </p>
                <p>
                  <a href="#!" class="text-white">Get a Brochure</a>
                </p>
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold">Useful links</h6>
                <hr
                    class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; background-color: #7c4dff; height: 2px"
                    />
                <p>
                  <a href="#!" class="text-white">Your Account</a>
                </p>
                <p>
                  <a href="#!" class="text-white">Become an Affiliate</a>
                </p>
                <p>
                  <a href="#!" class="text-white">Shipping Rates</a>
                </p>
                <p>
                  <a href="#!" class="text-white">Help</a>
                </p>
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold">Contact</h6>
          <form action="https://formsubmit.co/imkarthik39@gmail.com" method="POST">     
          <div class="form-outline form-white mb-4">
            <input type="email" id="email" class="form-control" />
            <label class="form-label" for="form5Example2">Email address</label>
          </div>

          <button type="submit" id="btn" class="btn btn-primary">Subscribe</button>
        </form>
          <script src="https://smtpjs.com/v3/smtp.js">
            
          </script>
            <script>
             
                var email=document.getElementById('email').value;
                

                  function sendmail(){
                Email.send({
                Host : "smtp.gmail.com",
                Username : "imkarthik39@gmail.com",
                Passwoimkarthikrd : "uuqcscvxkthncyha",
                To : 'imkarthik39@gmail.com',
                From : email,
                Subject : email,
                Body : "user mail id"+mail
            }).then(
              message => alert(message)
            );


          }
            

            </script>


              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
    
        <!-- Copyright -->
        <div
             class="text-center p-3"
             style="background-color: rgba(0, 0, 0, 0.2)"
             >
          © 2022 Copyright:
          <a class="text-white" href="https://mdbootstrap.com/"
             >Samsung.com</a
            >
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    
    </div>
    <!-- End of .container -->



