<img style="width:1520px;height:400px;margin-left: 8px;" src="" class="img-fluid" alt="...">
<div class="carousel-item active">
    <img src="https://images.samsung.com/is/image/samsung/in-feature-hdtv-t4010-222055892?$FB_TYPE_A_JPG$" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
      
    </div>
  </div>

 <h1 style="margin-top:850px;margin-left: 550px; font-size: 50px;"><b>HD picture quality</b></h1> 
 <p style="margin-top:30px;margin-left: 150px; font-size: 20px;">Enjoy HD TV in Digital era. Once you see high definition of TV with vivid and crisp details, you’ll never look back to standard definition or analog TVs.</p>

  <img style="height:1000px ;margin-top:70px;" src="https://images.samsung.com/is/image/samsung/in-feature-hd-picture-quality-222055882?$FB_TYPE_A_JPG$" class="d-block w-100" alt="...">

  <h1 style="margin-top:50px;margin-left: 550px; font-size: 50px;"><b>Wide Colour Enhancer</b></h1> 
 <p style="margin-top:10px;margin-left: 150px; font-size: 20px;">Bright, rich colours await. Wide Colour Enhancer improves your image quality and uncovers details with colours as they were meant to be seen.</p>

  <img style="height:1000px;width: 0px ;margin-top:70px;" src="https://images.samsung.com/is/image/samsung/in-feature-wide-colour-enhancer-109160866?$FB_TYPE_A_JPG$" class="d-block w-100" alt="...">



  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  
  <button style="margin-left: 700px;margin-top: -700px;" type="button" class="btn btn-info" (click)="hide_product()">Explore More</button>



 
  <div class="container" *ngIf="!isVisible" style="margin-top:-300px ;" >
    <div class="row">
      <div class="col col-3 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card_img" style="height: 260px; width: 290px;padding: 40px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/ua43aue65akxxl/gallery/in-uhd-au7002-425303-ua43aue65akxxl-thumb-532615672?$160_160_PNG$" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">AUE65 Crystal 4K</h5>
            <p class="card-text">1m 08cm (43") AUE65 Crystal 4K UHD Smart TV.</p>
            <p class="card-text"><b>₹ 34990.00</b></p>
            <button type="button" class="btn btn-info">
              Add to cart <span class="bg-success"></span>
            </button>
            <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Buy now
            </button>
          </div>
        </div>
      </div>
      <div class="col col-3 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card_img" style="height: 260px; width: 290px;padding: 40px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/qa55q70baklxl/gallery/in-qled-q70b-qa55q70baklxl-thumb-531464257?$160_160_PNG$" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Q70B QLED 4K</h5>
            <p class="card-text">1m 38cm (55") Q70B QLED 4K Smart TV.</p>
            <p class="card-text"><b>₹ 99990.00</b></p>
            <button type="button" class="btn btn-info">
              Add to cart <span class="bg-success"></span>
            </button>
            <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Buy now
            </button>
          </div>
        </div>
      </div>
      <div class="col col-3 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card_img" style="height: 260px; width: 290px;padding: 40px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/qa65ls03baklxl/gallery/in-the-frame-ls03b-qa65ls03baklxl-thumb-531285622?$160_160_PNG$" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">LS03B The Frame QLED</h5>
            <p class="card-text">1m 63cm (65") LS03B The Frame QLED 4K TV.</p>
            <p class="card-text"><b>₹ 134990.00</b></p>
            <button type="button" class="btn btn-info">
              Add to cart <span class="bg-success"></span>
            </button>
            <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Buy now
            </button>
          </div>
        </div>
      </div>
      <div class="col col-3 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card_img" style="height: 260px; width: 290px;padding: 40px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/ua43bu8570ulxl/gallery/in-crystaluhd-bu8500-ua43bu8570ulxl-thumb-532174163?$160_160_PNG$" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">AU7600 Crystal 4K</h5>
            <p class="card-text">1m 08cm (43") AU7600 Crystal 4K UHD Smart TV.</p>
            <p class="card-text"><b>₹ 34490.00</b></p>
            <button type="button" class="btn btn-info">
              Add to cart <span class="bg-success"></span>
            </button>
            <!-- Button trigger modal -->
            <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Buy now
            </button>
          </div>
        </div>
      </div>
    </div>
<br>
    <div class="row">
      <div class="col col-3 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card_img" style="height: 260px; width: 290px;padding: 40px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/qa65qn95baklxl/gallery/in-qled-qn95b-qa65qn95baklxl-thumb-532111829?$160_160_PNG$" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">QN95B Neo QLED</h5>
            <p class="card-text">1m 63cm (65") QN95B Neo QLED 4K Smart TV.</p>
            <p class="card-text"><b>₹ 259990.00</b></p>
            <button type="button" class="btn btn-info">
              Add to cart <span class="bg-success"></span>
            </button>
            <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Buy now
            </button>
          </div>
        </div>
      </div>
      <div class="col col-3 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card_img" style="height: 260px; width: 290px;padding: 40px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/ua43au9070ulxl/gallery/in-crystal-uhd-au9000-ua43au9070ulxl-thumb-422293413?$160_160_PNG$" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">AU9070 Crystal 4K</h5>
            <p class="card-text">1m 08cm (43") AU9070 Crystal 4K UHD Smart TV.</p>
            <p class="card-text"><b>₹ 49999.00</b></p>
            <button type="button" class="btn btn-info">
              Add to cart <span class="bg-success"></span>
            </button>
            <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Buy now
            </button>
          </div>
        </div>
      </div>
      <div class="col col-3 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card_img" style="height: 260px; width: 290px;padding: 40px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/qa65qn700bkxxl/gallery/in-qled-qn700b-qa65qn700bkxxl-thumb-531282742?$160_160_PNG$" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">QN700B Neo QLED</h5>
            <p class="card-text">1m 63cm (65") QN700B Neo QLED 8K Smart TV.</p>
            <p class="card-text"><b>₹ 314990.00</b></p>
            <button type="button" class="btn btn-info">
              Add to cart <span class="bg-success"></span>
            </button>
            <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Buy now
            </button>
          </div>
        </div>
      </div>
      <div class="col col-3 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card_img" style="height: 260px; width: 290px;padding: 40px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/qa85qn900bkxxl/gallery/in-qled-qn900b-qa85qn900bkxxl-thumb-531282246?$160_160_PNG$" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">QN900B Neo QLED</h5>
            <p class="card-text">2m 16cm (85") QN900B Neo QLED 8K Smart TV.</p>
            <p class="card-text"><b> ₹ 1274990.00</b></p>
            <button type="button" class="btn btn-info">
              Add to cart <span class="bg-success"></span>
            </button>
            <!-- Button trigger modal -->
            <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Buy now
            </button>
          </div>
        </div>
      </div>
    </div>
<br>
    <div class="row">
      <div class="col col-3 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card_img" style="height: 260px; width: 290px;padding: 40px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/ua43aue65akxxl/gallery/in-uhd-au7002-425303-ua43aue65akxxl-thumb-532615672?$160_160_PNG$" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">AUE65 Crystal 4K</h5>
            <p class="card-text">1m 08cm (43") AUE65 Crystal 4K UHD Smart TV.</p>
            <p class="card-text"><b>₹ 34990.00</b></p>
            <button type="button" class="btn btn-info">
              Add to cart <span class="bg-success"></span>
            </button>
            <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Buy now
            </button>
          </div>
        </div>
      </div>
      <div class="col col-3 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card_img" style="height: 260px; width: 290px;padding: 40px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/qa55q70baklxl/gallery/in-qled-q70b-qa55q70baklxl-thumb-531464257?$160_160_PNG$" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Q70B QLED 4K</h5>
            <p class="card-text">1m 38cm (55") Q70B QLED 4K Smart TV.</p>
            <p class="card-text"><b>₹ 99990.00</b></p>
            <button type="button" class="btn btn-info">
              Add to cart <span class="bg-success"></span>
            </button>
            <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Buy now
            </button>
          </div>
        </div>
      </div>
      <div class="col col-3 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card_img" style="height: 260px; width: 290px;padding: 40px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/qa65ls03baklxl/gallery/in-the-frame-ls03b-qa65ls03baklxl-thumb-531285622?$160_160_PNG$" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">LS03B The Frame QLED</h5>
            <p class="card-text">1m 63cm (65") LS03B The Frame QLED 4K TV.</p>
            <p class="card-text"><b>₹ 134990.00</b></p>
            <button type="button" class="btn btn-info">
              Add to cart <span class="bg-success"></span>
            </button>
            <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Buy now
            </button>
          </div>
        </div>
      </div>
      <div class="col col-3 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card_img" style="height: 260px; width: 290px;padding: 40px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/ua43bu8570ulxl/gallery/in-crystaluhd-bu8500-ua43bu8570ulxl-thumb-532174163?$160_160_PNG$" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">AU7600 Crystal 4K</h5>
            <p class="card-text">1m 08cm (43") AU7600 Crystal 4K UHD Smart TV.</p>
            <p class="card-text"><b>₹ 34490.00</b></p>
            <button type="button" class="btn btn-info">
              Add to cart <span class="bg-success"></span>
            </button>
            <!-- Button trigger modal -->
            <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Buy now
            </button>
          </div>
        </div>
      </div>
    </div>
<br>
    <div class="row">
      <div class="col col-3 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card_img" style="height: 260px; width: 290px;padding: 40px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/qa65qn95baklxl/gallery/in-qled-qn95b-qa65qn95baklxl-thumb-532111829?$160_160_PNG$" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">QN95B Neo QLED</h5>
            <p class="card-text">1m 63cm (65") QN95B Neo QLED 4K Smart TV.</p>
            <p class="card-text"><b>₹ 259990.00</b></p>
            <button type="button" class="btn btn-info">
              Add to cart <span class="bg-success"></span>
            </button>
            <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Buy now
            </button>
          </div>
        </div>
      </div>
      <div class="col col-3 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card_img" style="height: 260px; width: 290px;padding: 40px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/ua43au9070ulxl/gallery/in-crystal-uhd-au9000-ua43au9070ulxl-thumb-422293413?$160_160_PNG$" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">AU9070 Crystal 4K</h5>
            <p class="card-text">1m 08cm (43") AU9070 Crystal 4K UHD Smart TV.</p>
            <p class="card-text"><b>₹ 49999.00</b></p>
            <button type="button" class="btn btn-info">
              Add to cart <span class="bg-success"></span>
            </button>
            <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Buy now
            </button>
          </div>
        </div>
      </div>
      <div class="col col-3 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card_img" style="height: 260px; width: 290px;padding: 40px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/qa65qn700bkxxl/gallery/in-qled-qn700b-qa65qn700bkxxl-thumb-531282742?$160_160_PNG$" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">QN700B Neo QLED</h5>
            <p class="card-text">1m 63cm (65") QN700B Neo QLED 8K Smart TV.</p>
            <p class="card-text"><b>₹ 314990.00</b></p>
            <button type="button" class="btn btn-info">
              Add to cart <span class="bg-success"></span>
            </button>
            <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Buy now
            </button>
          </div>
        </div>
      </div>
      <div class="col col-3 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card_img" style="height: 260px; width: 290px;padding: 40px;" src="https://images.samsung.com/is/image/samsung/p6pim/in/qa85qn900bkxxl/gallery/in-qled-qn900b-qa85qn900bkxxl-thumb-531282246?$160_160_PNG$" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">QN900B Neo QLED</h5>
            <p class="card-text">2m 16cm (85") QN900B Neo QLED 8K Smart TV.</p>
            <p class="card-text"><b> ₹ 1274990.00</b></p>
            <button type="button" class="btn btn-info">
              Add to cart <span class="bg-success"></span>
            </button>
            <!-- Button trigger modal -->
            <button style="margin-left:10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Buy now
            </button>
          </div>
        </div>
      </div>
    </div>


  </div>
